<div class="flex flex-col min-h-screen">
  <!-- Header -->
  <header class="shadow-md sticky top-0 z-50">
    <p-menubar [model]="menuItems">
      <ng-template #start>
        <div class="flex items-center">
          <img
            src="https://jjmusic-online.github.io/assets/images/88x88.png"
            width="45"
            height="45"
            class="m-2"
            alt="JJ Music Logo"
          />
          <div class="text-2xl font-bold mb-1 mr-4">JJ Music</div>
        </div>
      </ng-template>
      <ng-template #end>
        <div class="flex items-center gap-4">
          <p-button
            label="Sign Up"
            icon="pi pi-user-plus"
            [raised]="true"
            [rounded]="true"
            severity="success"
            [routerLink]="['/sign-up']"
          ></p-button>
          <p-button
            label="Log In"
            icon="pi pi-sign-in"
            [raised]="true"
            [rounded]="true"
            severity="secondary"
            [routerLink]="['/log-in']"
          ></p-button>
        </div>
      </ng-template>
    </p-menubar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <!-- Footer -->
  <footer class="py-8">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
          <h3 class="text-xl font-semibold mb-4 text-amber-400">About Us</h3>
          <p class="">
            Your premier destination for online piano lessons. Learn from the
            best, anytime, anywhere.
          </p>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-4 text-amber-400">Quick Links</h3>
          <ul>
            <li>
              <a href="#" class="transition-colors hover:text-amber-300"
                >Home</a
              >
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-amber-300"
                >Lessons</a
              >
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-amber-300"
                >Instructors</a
              >
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-amber-300"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-4 text-amber-400">Contact Us</h3>
          <p class="">Email: jazzydus&#64;gmail.com</p>
          <p class="">Phone: +49 (0173) 2014997</p>
          <div class="mt-4 flex space-x-4">
            <a href="#" class="text-2xl hover:text-amber-300 transition-colors">
              <i class="pi pi-facebook"></i>
            </a>
            <a href="#" class="text-2xl hover:text-amber-300 transition-colors">
              <i class="pi pi-twitter"></i>
            </a>
            <a href="#" class="text-2xl hover:text-amber-300 transition-colors">
              <i class="pi pi-instagram"></i>
            </a>
            <a href="#" class="text-2xl hover:text-amber-300 transition-colors">
              <i class="pi pi-youtube"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-8 pt-8 border-t">
        <p>&copy; 2024 JJ Music. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
