// Custom styles for PrimeNG components to match our theme
:host ::ng-deep {
  // Custom header menu styles
  .header-menu {
    &.p-menubar {
      background-color: var(--color-piano-blue);
      border: none;
    }

    // Responsive styles
    @media (max-width: 960px) {
      &.p-menubar {
        .p-menubar-button {
          color: var(--color-piano-offwhite);

          &:hover {
            color: var(--color-piano-gold);
          }
        }

        .p-menubar-root-list {
          background-color: var(--color-piano-blue);
        }
      }
    }
  }
}
